body {
    background-color: #ffffff;
}

.principal{
    background: #ffffff;
    padding: 30px;
}

.itens{
    font-style: italic;
}

.beneficios{
    background: #ffffff;
    padding: 20px
}
h2{
   text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20;
    margin-right: 15%;
}

.beneficios{
    width: 50%;
}

p{
    text-align: center;
}

em strong{
    color: #ff0000
}

#banner{
    width: 100%;
}

h1{
    text-align: center;
}

#missao{
    font-size: 20px;
}